/* 定義層級順序 */
@layer theme, base, antd, components, utilities;

/* 載入整合版 Tailwind（包含 base/components/utilities） */
/* 注意這個指令會把三層內容全部一次 import 進來 */
@import 'tailwindcss';

/* 如有必要，修正 Tailwind 對 AntD 的小問題，例如 SVG、圖片、預設邊距等 */
@layer base {
  svg {
    vertical-align: initial;
  }
}

body {
  overflow-x: hidden;
  font-family: 'Noto Sans TC', sans-serif;
  color: #3c3c3c;
  background-color: #f2f2f2;
}

a {
  color: #3c3c3c;
}
