@import 'tailwindcss';

/* *,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  overflow-x: hidden;
  font-family: 'Noto Sans TC', sans-serif;
  color: #3c3c3c;
  background-color: #f2f2f2;
}

/* li {
  list-style: none;
}

a {
  text-decoration: none;
} */
